{% extends 'layouts/page.njk' %}

{% from "not-supplied/macro.njk" import notSupplied %}

{% set notSuppliedHtml = notSupplied() %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if holding.holdingName %}
        <span class="govuk-caption-l">{{ holding.holdingName }}</span>
      {% else %}
        <span class="govuk-caption-l">{{ holding.cphNumber }}</span>
      {% endif %}
      <h1 class="govuk-heading-l">Holding details</h1>

      {{ lisSubNavigation({
        label: "Sub navigation",
        items: tabs
      }) }}

      {%- set addressHtml -%}
        {%- for line in holding.addressLines -%}
          {{ line }}{% if not loop.last %}<br>{% endif %}
        {%- endfor -%}
      {%- endset -%}

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "CPH number" },
            value: { text: holding.cphNumber } if holding.cphNumber else { html: notSuppliedHtml }
          },
          {
            key: { text: "Holding name" },
            value: { text: holding.holdingName } if holding.holdingName else { html: notSuppliedHtml }
          },
          {
            key: { text: "Business name" },
            value: { text: holding.businessName } if holding.businessName else { html: notSuppliedHtml }
          },
          {
            key: { text: "Address" },
            value: { html: addressHtml } if holding.addressLines.length else { html: notSuppliedHtml }
          },
          {
            key: { text: "Herd mark" },
            value: { text: holding.herdMark } if holding.herdMark else { html: notSuppliedHtml }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
